body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

footer {
    display: flex;
}

footer > * {
    margin: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    padding: 0.4em;
    width: min-content;
}

ul {
    list-style-type: none;
    padding: 0;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: rgb(85, 85, 85);
}

.app {
    display: grid;
}

@media (min-width: 800px) {
    .app {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .app {
        grid-template-columns: repeat(3, 1fr);
    }
}

.widget {
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
}

.widget > h3 {
    margin-top: 0;
}

.bookmark, .newBookmark {
    border: 1px solid black;
    border-radius: 0.4em;

    margin-bottom: 1em;
    padding: 0.8em;
}

.bookmark {
    display: flex;
}

.bookmark > a {
    display: block;
    text-align: center;
    width: 100%;
}

.bookmark:hover {
    color: rgb(85, 85, 85);
    border-color: rgb(85, 85, 85);
}

.bookmark > button {
    margin-left: auto;
    padding: 0.2em;

    font-weight: bold;
}

.newBookmark {
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.newBookmark > input {
    grid-column-start: 1;
    grid-column-end: 9;

    border-radius: 0.2em;
}

.bookmarkNameInput {
    grid-row: 1;

    margin-bottom: 0.2em;

    font-size: 1em;
    font-weight: bold;
}

.bookmarkURLInput {
    grid-row: 2;

    font-size: 0.8em;
}

.addBookmarkButton {
    grid-column: 10;
    grid-row-start: 1;
    grid-row-end: 3;

    margin-left: 0.4em;
}

.train-service {
    border: 1px solid black;
}

.train-service > tr > *:nth-child(1) {
    text-align: left;
}

.train-service > tr > *:nth-child(2) {
    text-align: right;
}

.xkcd-link {
    display: block;
}